<form action="/profile/<%= currentUser.id %>/?_method=PUT" method="POST">
<div><input type="text" class="text-input" name="name" id="name" value="<%= currentUser.name %>" placeholder="Username"></div>
<div><input type="text" class="text-input" name="email" id="email" value="<%= currentUser.email %>" placeholder="Email"></div>

<input class="submit" type="submit" value="Edit">
</form>