<form action="/auth/login" method="POST">
  <div>
    <label for="authEmail"></label>
    <input id="authEmail" type="email" name="email" placeholder="Email">
  </div>

  <div>
    <label for="authPassword"></label>
    <input id="authPassword" type="password" name="password" placeholder="Password">
  </div>

  <input class="submit" type="submit" value="→">
</form>
