<h1>Sign up for free</h1>

<form action="/auth/signup" method="POST">
  <div>
    <label for="authEmail"></label>
    <input id="authEmail" class="text-input" type="email" name="email" placeholder="Email">
  </div>

  <div>
    <label for="authName"></label>
    <input id="authName" class="text-input" type="text" name="name" placeholder="Name">
  </div>

  <div>
    <label for="authPassword"></label>
    <input id="authPassword" class="text-input" type="password" name="password" placeholder="Password">
  </div>

  <input class="submit" type="submit" value="GET STARTED">
</form>
