<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrailWeather</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <nav>
      <div class="left-nav">
        <a href="/">Home &nbsp</a> | &nbsp
        <a href="/locations">Your Locations &nbsp</a> | &nbsp
        <a href="/trails"> Your Trails </a> 
      </div>
      <div class="middle-nav">
        <h2 id="middle">TrailWeather</h2>
      </div>
      <div class="right-nav">
        <a href="/search">Search Locations &nbsp</a> | &nbsp
        <% if (currentUser) { %>
          <p class="login">Logged in as <a href="/profile"><%= currentUser.name %> | &nbsp</a></p>
        <% } else { %>
          <a href="/auth/login"> Login | &nbsp</a>
        <% } %>  
        <a href="/auth/signup"> Sign Up</a>
      </div>
    </nav>

    <main class="container">
      <% include partials/alerts %>
      <%- body %>
    </main>

    <footer>
      <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    </footer>

  </body>
</html>
