<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrailWeather</title>
    <link rel="stylesheet" href="../public/css/style.css">
  </head>
  <body>

    <nav>
      <a href="/">Home</a> | 
      <a href="/locations">Your Locations</a> |
      <a href="/trails">Your Trails</a> 
      <h3 id="middle">TrailWeather</h3>
      <a href="/search">Search Locations</a>
      <% if (currentUser) { %>
        <p class="login">Logged in as <a href="/profile"><%= currentUser.name %> | </a></p>
      <% } else { %>
        <a href="/auth/login">Login |</a>
      <% } %>  
      <a href="/auth/signup">Sign Up</a>
    </nav>

    <main class="container">
      <% include partials/alerts %>
      <%- body %>
    </main>

    <footer>
      <a href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    </footer>

  </body>
</html>
