body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-image: url('../img/adventure-calm-waters-canada-910307.jpg');
  background-size: cover;
  min-height: 100vh;
  font-size: .93em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
}

footer {
  width: 100vw;
  height: 30px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div a {
  margin: 0 10px;
}

form {
  margin-top: 15px;
  text-align: center;
}

.trail-detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px auto;
  padding: 0 15px;
  min-width: 300px;
  box-shadow: 0 5px 15px black;
  text-align: center;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer-atag {
  text-decoration: none;
  font-size: 1.1em;
  color: white;
}

.footer-atag:hover {
  color: tomato;
}

.trail-img {
  max-width: 300px;
  max-height: 300px;
}

.trail-info {
  display: flex;
  justify-content: space-between;
}

.trailname {
  text-decoration: none;
  font-size: 2em;
  color: black;
  font-weight: bolder;
}

.trailname:hover {
  color: tomato;
}

.mobile {
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}

.mobile .links {
  display: none;
}

.mobile a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobile a.hamburger {
  display: block;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.info-container {
  width: 95%;
  background: rgba(115, 115, 115, 0.93);
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0 5px 10px;
}

.daily-info {
  display: flex;
  justify-content: space-around;
}

.trail-container {
  width: 95%;
  background: rgba(115, 115, 115, 0.93);
  border-radius: 50px;
  box-shadow: 0 5px 10px black;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.trail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  background-color: rgb(115, 115, 115);
  box-shadow: 0 5px 8px black;
  width: 350px;
}

.trail h3 {
  margin-left: 10px;
}

.trail div div{
  margin-right: 10px;
}

.left, .right {
  margin: 15px 10px;
  max-width: 250px;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.text-input {
  background-color: rgba(255, 255, 255, 0.75);
  width: 300px;
  border: 2px solid white;
  padding: 8px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1em;
}

.submit {
  width: 100px;
  padding: 10px;
  background-color: tomato;
  border: none;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: rgb(211, 80, 56);
}

.trail-submit {
  padding: 5px;
  background-color: tomato;
  border: none;
  margin: 5px 15px 5px 0;
}

.trail-submit:hover {
  background-color: rgb(211, 80, 56);
}

.add-submit {
  padding: 10px;
  background-color: tomato;
  border: none;
  margin-bottom: 10px;
}

.text-align {
  text-align: center;
}

#map {
  margin-bottom: 15px;
}

#desktop {
  display: none;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 17px;
  text-decoration: none;
  color: tomato;
}

#title:hover {
  color: black;
}

@media screen and (min-width: 870px) {
  nav div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 10px;
  }
  
  nav div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  nav div h2, nav div p {
    margin: 15px;
  }
  
  nav div a:hover {
    color: tomato;
  }

  a.active {
    display: none;
  }

  .trail-img {
    max-width: 800px;
    max-height: 600px;
  }

  .container {
    min-width: 550px;
  }

  #desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #mobile {
    display: none;
  }

  #title {
    font-size: 2.2em;
  }
}