body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #FFFFFF 1.00%, #6DD5FA 50.00%, #2980B9 85.00%);
  min-height: 100vh;
}

nav div h2 {
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
}

footer {
  float: right;
  margin-right: 10px;
  flex-shrink: 0;
}

.mobile {
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}

.mobile .links {
  display: none;
}

.mobile a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobile a.hamburger {
  display: block;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.mobile a:hover {
  background-color: #ddd;
  color: black;
}

.inline {
  display: inline-block;
}

.info-container {
  width: 95%;
  padding: 10px auto;
  background: rgba(115, 115, 115, 0.63);
}

#desktop {
  display: none;
}

@media screen and (min-width: 870px) {
  nav div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 10px;
  }
  
  nav div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  nav div h2, nav div p {
    margin: 15px;
  }
  
  nav div a:hover {
    color: rgb(26, 26, 26);
  }

  a.active {
    display: none;
  }

  #desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
  }

  #mobile {
    display: none;
  }
}