body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-image: url('../img/adventure-calm-waters-canada-910307.jpg');
  min-height: 100vh;
  font-size: .93em;
}

nav div h2 {
  display: inline-block;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 0 auto;
}

footer {
  margin-left: 10px;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.trail-detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px auto;
  padding: 0 15px;
  min-width: 300px;
  box-shadow: 0 5px 15px black;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search {
  padding: 10px;
  border-radius: 10%;
}

.right-atag {
  float: right;
  text-decoration: none;
  font-size: 1.1em;
  color: black;
}

.trail-img {
  max-width: 300px;
  max-height: 300px;
}

.trail-info {
  display: flex;
  justify-content: space-between;
}

.mobile {
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}

.mobile .links {
  display: none;
}

.mobile a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobile a.hamburger {
  display: block;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.mobile a:hover {
  background-color: #ddd;
  color: black;
}

.inline {
  display: inline-block;
}

.info-container {
  width: 95%;
  padding: 10px auto;
  background: rgba(115, 115, 115, 0.93);
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0 5px 10px;
}

.daily-info {
  display: flex;
  justify-content: space-around;
}

.trail-container {
  width: 95%;
  background: rgba(115, 115, 115, 0.93);
  border-radius: 50px;
  box-shadow: 0 5px 10px black;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.trail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.left, .right {
  margin: 15px 10px;
}

.pacifico span{
  font-family: 'Pacifico', cursive;
}

#map {
  margin-bottom: 15px;
}

#desktop {
  display: none;
}

#title {
  font-family: 'Pacifico', cursive;
  font-size: 17px;
  text-decoration: none;
  color: black;
}

#title:hover {
  color: tomato;
}

@media screen and (min-width: 870px) {
  nav div {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 0 10px;
  }
  
  nav div a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  nav div h2, nav div p {
    margin: 15px;
  }
  
  nav div a:hover {
    color: tomato;
  }

  a.active {
    display: none;
  }

  .trail-img {
    max-width: 800px;
    max-height: 600px;
  }

  .container {
    min-width: 550px;
  }

  #desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
  }

  #mobile {
    display: none;
  }

  #title {
    font-size: 2.2em;
  }
}