<h1>Welcome to TrailWeather!</h1>
<h3>The best place to see the weather conditions for the hike you are going on</h3>
<h3>To get started Log in and search a location above</h3>
<h4>Data provided by Dark Sky, The Hiking Project, and Mapbox</h4>
