<h1>Welcome to TrailWeather!</h1>
<h3>The best place to see the weather conditions for the hike you are going on</h3>
<h3>To get started Log in and search a location above</h3>
<h4>Data provided by <a href="https://darksky.net/dev/">Dark Sky</a>, The <a href="https://www.hikingproject.com/data">Hiking Project</a>, and <a href="https://docs.mapbox.com/mapbox-gl-js/api/?size=n_10_n">Mapbox</a></h4>
