<h2>Search cities down below</h2>
<div class="text-center">
<form class="search" action="/results" method="GET">
  <input class="search" type="text" name="city" id="city" placeholder="City">
  <input class="search" type="text" name="state" id="state" placeholder="State">

  <input class="search" type="submit" value="Search Cities">
</form>
</div>