<h2>Search cities down below</h2>
<form action="/results" method="GET">
  <input type="text" name="city" id="city" placeholder="City">
  <input type="text" name="state" id="state" placeholder="State">

  <input type="submit" value="Search Cities">
</form>