<h2>Search U.S. cities here</h2>

<form action="/results" method="GET">

  <div><input class="text-input" type="text" name="city" id="city" placeholder="City"></div>
  <div><input class="text-input" type="text" name="state" id="state" placeholder="State"></div>

  <input class="submit" type="submit" value="Search!">
</form>
