<h1>Your Trails</h1>
<% user.trails.forEach(function(trail) { %>
  <div class="container">
  <a class="trailname" href="show/<%= trail.idnum %>"><%= trail.name %></a>

  <form action="/trails/<%= trail.idnum %>/?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="<%= currentUser.id %>">
    <input type="submit" class="submit" value="Remove from List">
  </form>
</div>
<% }); %>